<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      name="description"
      content="<%= htmlWebpackPlugin.options.description %>"
    />
    <title><%= htmlWebpackPlugin.options.title %></title>
    <script preload src="https://unpkg.com/regenerator-runtime@0.13.1/runtime.js"></script>
    <script preload src='https://cdn.jsdelivr.net/gh/waldronmatt/dynamic-module-federation-assets@1.1.1/dist/bootstrap-entries.js'></script>
  </head>
  <body>
    <header></header>
    <h1 id="click-me">CLICK ME TO LOAD REMOTE APP</h1>
    <p>
      By default, you see we have two different jQuery versions running
      independently.
    </p>
    <p>
      The version above is what the host (this page) is using. The version
      inside the red border is the version the remote app is using.
    </p>
    <p>
      Open the console. The host has v.2 installed and throws a promise error in
      the console due to unspported features.
    </p>
    <p>
      The remote has v.3 installed and is successfully outputing to the console:
      (Failure 1, Success 2).
    </p>
    <br />
    <main></main>
  </body>
</html>
